<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons start>
            <button ion-button color="white" (click)='onHelp()'>
                <ion-icon name="home" style="zoom:1.0;"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Reported Incidents</ion-title>
        <ion-buttons end>
            <button ion-button color="white" (click)='onNew()'>New</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!claims || claims.length < 1">
        <ion-card-header>
            <ion-item>
                <ion-icon name="alert"></ion-icon> There are no reported incidents!
            </ion-item>
        </ion-card-header>
    </div>

    <div class="incident-content-area" *ngIf="claims && claims.length > 0">
        <ion-card *ngFor="let claim of claims | orderBy : '-processId'">
            <ion-card-header>
                Claim {{claim.processId}} for {{claim.incident.incidentType}}
                <button class="btn-sm" style="float: right" (click)="onLoadClaimDetails(claim)">
                    <ion-icon name="arrow-dropright-circle" style="zoom:2.0;"></ion-icon>                
                </button>
            </ion-card-header>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item>
                        {{claim.incident.incidentDate | date:'EEE, MMM d, y h:mm a'}}</ion-item>
                    <ion-item>
                        <div style="color:green" *ngIf="claim.incidentStatus === 'COMPLETED'"><strong>{{claim.incidentStatus}}</strong></div>
                        <div style="color:orange" *ngIf="claim.incidentStatus === 'IN_PROGRESS'"><strong>{{claim.incidentStatus}}</strong></div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-card>
    </div>
</ion-content>