<div class="container">
  <form (ngSubmit)="update()" #servicesForm="ngForm">
    <div class="form-group">
      <label for="processId">Process ID</label>
      <input type="text" class="form-control" id="processId" [(ngModel)]="processId" name="processId" required>
    </div>
    <div class="form-group">
      <label for="containerId">Container ID</label>
      <input type="text" class="form-control" id="containerId" required>
    </div>
    <div class="form-group">
      <label class="form-check-label">Auto Update</label>
      <input type="checkbox" class="form-check-input" id="autoUpdate" [(ngModel)]="autoUpdate" name="autoUpdate">
    </div>
    <div class="form-group">
      <label class="form-check-label">Accepted</label>
      <input type="checkbox" class="form-check-input" id="accepted" disabled>
    </div>
    <div class="form-group">
      <label for="acceptedComment">Accepted Comment</label>
      <input type="text" class="form-control" id="acceptedComment" disabled>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>